.fg-cont {
  gap: 50px;
  width: 1250px;
}

.fg {
  align-items: unset;
}
.fg h1,
.fg p.fg-ct {
  text-align: center;
}

form.login-form {
  margin-top: 30px;
}

.fg-form {
  margin-bottom: 70px;
}
p.fg-ct {
  font-size: 20px;
}
@media (max-width: 480px) {
}
