.user-header .nav-item.active::after {
  display: none !important;
}
.user-dashboard {
  margin-top: 130px;
  margin-bottom: 40px;
}
.user-section {
  display: flex;

  box-shadow: 0px 0px 10px rgba(146, 39, 39, 0.2);
  gap: 30px;
  border-radius: 20px;
}

.user-dashboard-section {
  /* background-color: aliceblue; */
  position: relative;

  transform: translate(-2.5%, 0%);
}

.ud-container {
  width: 1440px;
  max-width: 96%;
  margin: auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.ud-container .user-popup {
  display: none;
}
.ud-container h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
}
.user-dashboard-container {
  width: 1440px;
  max-width: 96%;
  margin: auto;
  padding: 0 16px;
}

.sidebar {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  width: 279px;
  height: 786px;

  border-radius: 20px;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
  box-shadow: 4px 4px 15px 0px #00000026;
  border-right: 3px solid #00000026;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.sidebar-nav span.icon {
  width: 20px;
  height: 20px;
}
.sidebar-nav span.icon img {
  width: 20px;
  height: 20px;
}
.sidebar-nav a {
  text-decoration: none;
  color: #6c757d;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 30px;
  width: 100%;
  justify-content: center;
  background-color: var(--background-color);
  border: none;
  gap: 10px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  color: #666666;
}
button.active {
  color: var(--blue-color);
  border-left: 4px solid var(--blue-color); /* changed to border-left */

  background-color: #dceeff;
}

.logout-btn {
  background: none;
  border: none;
  color: #dc3545;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 30px 50px 30px 30px;
}

.main-content {
  flex: 1;
  padding-top: 48px;
  padding: 48px 30px 30px 30px;
  background-color: #fff;
  border-radius: 20px;
  border-left: 3px solid #00000026;
}

@media (max-width: 480px) {
  footer {
    padding: 20px 0px 80px 0px !important;
  }
  .footer-main-section .footer-btn {
    border-radius: 10px !important;

    width: 180px !important;
    height: 55px !important;
  }
  img.ft-line {
    /* max-width: 80%; */
    height: 3px !important;
  }
  .user-d-page .footer-last {
    max-width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px;
    width: 100%;
  }

  .user-dashboard {
    position: relative; /* Ensure it’s in the normal flow */
    z-index: 2;
  }

  .ud-container .user-popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }

  .ud-container .user-popup span {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #666666;
  }
  .main-content {
    flex: 1;
    padding: 25px 20px 20px 20px;
    background-color: #fff;
    border-radius: 20px;
    border-left: 3px solid #00000026;
  }
  .user-section {
    flex-direction: column;
  }

  .sidebar {
    gap: 110px;
    z-index: 9999;
    position: absolute;
    padding-top: 38px;
    padding-bottom: 168px;
    left: 50%;
    transform: translateX(-50%);
    width: 96%;
    height: 65vh;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  button.logout-btn span {
    width: 24px;
    height: 24px;
  }
  .logout-btn {
    padding: 30px 30px 30px 30px;
  }

  .user-dashboard-section {
    transform: translate(0%, 0%);
  }
  .ud-container h1 {
    font-size: 20px;
  }
  .user-dashboard {
    margin-top: 120px;
    margin-bottom: 40px;
  }
  .no-scroll {
    overflow: hidden;
  }
}
