footer {
  background-color: var(--blue-color);
  padding: 80px 0px;
  z-index: 1;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
  width: 1440px;
  max-width: 70%;
  margin: auto;
  padding: 0 16px;
}
.footer-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  width: 50%;
  text-align: center;
}

.footer-main-section h1 {
  font-family: Merriweather;
  font-weight: 100;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);
  opacity: 60%;
}

.footer-main-section h2 {
  font-family: Abhaya Libre;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  color: var(--background-color);
}

.footer-main-section p {
  opacity: 0.8;

  font-family: Merriweather;
  font-weight: 500;
  font-size: 14px;
  line-height: 33px;
  letter-spacing: 1px;
  text-align: center;
  color: var(--background-color);
}

.footer-main-section .footer-btn {
  width: 197px;
  height: 60px;
  top: 327px;
  left: 621px;
  border-radius: 30px;
  background: #66b2ff;
  font-family: Merriweather;
  font-weight: 900;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  color: var(--background-color);
}

.footer-main-section .footer-copyright {
  display: flex;
  align-items: center;
  font-family: Merriweather;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: var(--background-color);
  gap: 1px;
  opacity: 0.8;
}

.footer-copyright img {
  width: 24px;
  height: 24px;
}

.footer-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-navlinks {
  margin-left: 130px;
  display: flex;
  gap: 40px;
  font-family: Merriweather;

  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--background-color);
}

.footer-navlinks a {
  color: var(--background-color);
  text-decoration: none;
}
.footer-si {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer-last {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (max-width: 480px) {
  .footer-container {
    max-width: 96%;
  }
  .footer-logo .logo {
    width: 80px;
    height: 19px;
    margin-bottom: -4px;
  }

  .footer-icons {
    width: 100%;

    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .footer-si {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
  }

  img.ft-line {
    max-width: 80%;
  }

  .footer-main-section {
    height: 350px;
    width: 350px;
    text-align: center;
  }

  .footer-main-section h2 {
    font-size: 18px;
  }
  .footer-main-section p {
    opacity: 0.8;
    font-family: Merriweather;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--background-color);
  }

  .footer-navlinks a {
    text-align: center;
  }

  img.ft-icon {
    width: 24px;
    height: 24px;
  }
  .footer-main-section {
    position: relative;
    z-index: 1;
  }

  .footer-main-section .footer-copyright {
    position: absolute;
    bottom: -57px;
    left: 110px;

    text-align: center;
    z-index: 1;
  }

  .footer-icons {
    position: relative;
    z-index: 1;
  }

  .footer-navlinks {
    position: absolute;
    bottom: -59px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: var(--blue-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-left: 0px;
    gap: 0px;
    font-size: 12px;
    z-index: 1;
  }

  .footer-copyright img {
    width: 18px;
    height: 18px;
  }
}
