/* 
.app {
  padding-top: 100px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* **Mobile-specific styles * */
/* @media (max-width: 480px) {
  .app {
    width: 100%;
    padding-top: unset;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    display: flex;
    justify-content: center;
  }
} */
