@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");

/* body {
  font-family: 'Abhaya Libre', sans-serif;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* primary colors */

:root {
  --black-color: #000000;
  --blue-color: #003366;

  --background-color: #ffffff;
  --input-color: #caced8;
}
